.alia{
    background-color: red;
}
.vs{
    background-color: yellow;
}
.sk{
    background-color: blue;
}
.sp{
    background-color: green;
}

#xyz{
    background-color: pink;
    font-size: 40px;
}